{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Game Reviews{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'game_review/style.css' %}">
</head>

<body>

    <!-- Navigation -->
    <nav>
        <div>
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'add_review' %}">Add Review</a> |
            <a href="{% url 'review_list' %}">All Reviews</a>
        </div>

        <!-- Login/logut buttons -->
        <div class="login_logout_nav">
            <a href="{% url 'login' %}">Login</a> |
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>

    <!-- Hero Image -->
    <!-- Going to add a JavaScript button to change the Hero Image to cycle between images in the static folder and use a click event listener to detect the action -->
    <header class="hero">
        <img id="cycle-image" src="{% static 'imgs/mage.jpg' %}" alt="Mage">

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // JavaScript array to cycle between images on button click
                const images = [
                    "{% static 'imgs/dark_angel.jpg' %}",
                    "{% static 'imgs/artificer.jpg' %}",
                ];

                let index = 0;

                const imgElement = document.getElementById("cycle-image");
                const btn = document.getElementById("cycle-btn");

                btn.addEventListener("click", function () {
                    index = (index + 1) % images.length;
                    imgElement.src = images[index];
                });
            });
        </script>

        <div class="hero-text">
            <p>Welcome to our game haven!<br>View and submit reviews!</p>
            <button id="cycle-btn" class="cycle-button">Next Image</button>
        </div>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>

</body>
</html>