{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Review Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'game_review.css' %}">
</head>
<body>

   <main>
      {% block content %}{% endblock %}
   </main>
     <div id="content">
        <!-- Adding image for flare-possibly change later -->
        <img src="{% static 'imgs/mage.jpg' %}" alt="Mage" width="800px"> <!--Playing around with header imgs-->
         <p>Image to get attention</p>
     </div>

     <div id="sidebar">
        <h2>Game Reviews</h2>
        <p>Review your favorite games and see what others think of them!</p>
     </div>
      {% include "review/pagination.html" with page=posts %}

</body>
</html>